@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
.product__row {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card {
    max-width: 272px;
    position: relative;
    border-radius: 4px;
    background: var(--Main-Surface, #FFF);
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.card .card_head {
    /* padding-top: 31.5px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.card .card_head .like {
    position: absolute;
    top: 8px;
    left: 230px;
    width: 32px;
    height: 32px;
    padding: 20px;
    border-radius: 4px;
    /* opacity: 0.5; */
    background:  #F3F2F1;
    cursor: pointer;
    display: none;
    transition: .8s;
}

.checkmark{
    position: absolute;
    top: 7px;
    left: 73px;
}

.card .card_head .akciya {
    position: absolute;
    top: 120px;
    left: 10px;
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-end;
    gap: 10px;
    border-radius: 4px;
    background: var(--Main-Primary, #F63);
    color: var(--Main-onPrimary, #FFF);
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.card_footer {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.card_footer p {
    color: var(--Main-onSurface, #414141);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.summa {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.summa .fee_with_card h3 {
    color: var(--Main-onSurface, #414141);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
}

.summa .payment_in_cash h4 {
    color: var(--Grayscale-Hardest, #606060);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.summa p {
    color: var(--Grayscale-Light, #BFBFBF);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.card_footer button {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Main-Secondary, #70C05B);
    cursor: pointer;
    color: var(--Main-Secondary, #70C05B);
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: .3s;
}

.card_footer button:hover {
    background: var(--Main-Primary, #F63);
    border-color: #F63;
    color: #fff;
}

.card .card_head:hover .like {
    display: block;
    transition: 8s;
    /* transform: translateX(-10px); */
}

.card .card_head:hover {
    padding-top: 0;
}

.reiting .reiting_star {
    font-size: 25px;
    cursor: pointer;
}

.reiting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

.card_text {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.card_text h1 {
    color: #414141;
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    /* 54px */
}

.card_text p {
    display: flex;
    width: 168px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.like input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .like {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
  }
  
  .checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
  }
  
  .like input:checked ~ .checkmark path {
    fill: #fc0404;
    stroke-width: 0;
  }
  
  .like input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }
  
  .like:hover {
    transform: scale(1.1);
  }
  
  @keyframes like_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }