.container {
    max-width: 1208px;
    margin: auto 0;
}

.home_header{
    display: flex;
    gap: 20px;
    background-image: url(../images/header_backround.png);
}

.home_left{
    width: 303px;
    height: 202px;
    flex-shrink: 0;
}

.home_right{
    color: var(--Main-onSurface, #414141);
    text-align: center;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-top: 70px;
}

.stati__row{
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 20px;
}

.stati_card{
    width: 376px;
    border-radius: 8px;
    background: #70c05b;
    border-radius: 8px;
    background: var(--Main-Surface, #FFF);
    transition: 0.4s;
}

.stati_card:hover{
    box-shadow: 1px 1px 8px 5px #70C05B;

}

.stati_card img{
    width: 376px;
    height: auto;
    border-radius: 8px;
}

.card_number{
    color: var(--Grayscale-Hard, #8F8F8F);
    height: 18px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 10px;
}

.card_tittle{
    color: var(--Main-onSurface, #414141);
    height: 56px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-top: 10px;
}

.card_text{
    color: var(--Main-onSurface, #414141);
    height: 96px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 10px;
    margin-bottom: 18px;
}

.card_btn{
    /* height: 24px; */
    border-radius: 4px;
    background: var(--Main-Surface, #FFF);
    color: var(--Main-Secondary, #70C05B);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    margin-bottom: 10px;
    transition: 1s;
    padding: 8px;
}

.card_btn:hover{
    cursor: pointer;
    background: #70C05B;
    color: #FFF;
    transition: 0.8s;
    box-shadow: 1px 1px 4px 1px #70C05B;
}


.statti__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statti__btn h1{
    font-size: 30px;
    color: #414141;
}

.statti__btn p{
    font-size: 16px;
    color: #414141;
}