

.home_header{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 20px; */
    background: url(../images/header_backround.png);
    background-repeat: no-repeat;
    background-size: cover;
}

 .home_left img{
    max-width: 557px;
    margin-top: 70px;
    margin-left: 50px;
}    

.home_right{
    padding-left: 140px;    
    color: var(--Main-onSurface, #414141);
    text-align: center;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
    /* padding-top: 70px; */
}

.stati__row{
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 20px;
}

.stati_card{
    margin: auto;
    padding-bottom: 20px;
    width: 376px;
    border-radius: 8px;
    background: #70c05b;
    border-radius: 8px;
    background: var(--Main-Surface, #FFF);
    transition: 0.4s;
}

.stati_card:hover{
    box-shadow: 1px 1px 8px 5px #70C05B;

}

.stati_card img{
    width: 376px;
    height: auto;
    border-radius: 8px;
}

.card_number{
    padding: 10px;
    color: var(--Grayscale-Hard, #8F8F8F);
    height: 18px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 10px;
}

.card_tittle{
    padding: 10px;
    color: var(--Main-onSurface, #414141);
    height: 56px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-top: 10px;
}

.card_text{
    padding: 10px;
    color: var(--Main-onSurface, #414141);
    height: 96px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 10px;
    margin-bottom: 18px;
}

.card_btn{
    /* height: 24px; */
    margin: 10px;
    border-radius: 4px;
    background: var(--Main-Surface, #FFF);
    color: var(--Main-Secondary, #70C05B);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    margin-bottom: 10px;
    transition: 1s;
    padding: 8px;
}

.card_btn:hover{
    cursor: pointer;
    background: #70C05B;
    color: #FFF;
    transition: 0.8s;
    box-shadow: 1px 1px 4px 1px #70C05B;
}


.statti__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statti__btn h1{
    font-size: 30px;
    color: #414141;
}

.statti__btn p{
    font-size: 16px;
    color: #414141;
}


@media(max-width:884px){
.home_header{
    display: flex;
    gap: 5;
}
    .home_left img{
        max-width: 190px;
        margin-top: 100px;
        margin-left: 20px;
    }    
    .home_right{
        max-width: 376px;
        height: 36px;
        /* padding-left: 10px;*/
        font-size: 1px;
    }
}