.contact{
    display: flex;
    gap: 30px;
}

.text_contact{
    font-size: 64px;
}

.contact_text{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}

.contact_text p{
    font-style: 24px;
    line-height: 36px
}

.contact_text h3{
    font-style: 30px;
    line-height: 36px
}

.contact_text .blue{
    color: #0093C6;
    font-size: 35px;
    font-style: italic;
}

.footer{
    display: flex;
    justify-content: space-around;
}
.contact_text .red{
    color: #AF212B;
    font-size: 35px;
    font-style: inherit;
}

 @media (max-width: 900px){
    .footer{
        /* max-width: 100%;
        margin: auto; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
     .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 }
 @media (max-width: 360px){
    .footer{
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 }
