.transition{
    margin-top: 20px;
    
}
.row{
     display: flex; 
     align-items: center; 
    
}
.busic{
    color: #000;
    margin-right: 10px;
}
.favor{
    color: #000;
    margin-left: 10px;
}
aside{
    width: 272px;
}
.filter{
    border-radius: 4px;
background: rgb(243, 242, 241);
color: rgb(65, 65, 65);
font-family: Rubik;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding: 10px;
/* margin: 0px 10px; */
margin-bottom: 40px;
}
h1{
color: rgb(65, 65, 65);
font-family: Rubik;
font-size: 64px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin: 60px 0px;
}
.delete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete p{
    
color: rgb(0, 0, 0);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.delete button{
color: rgb(96, 96, 96);
font-family: Rubik;
font-size: 12px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
border: none;
padding: 8px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  .razdel{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 272px;
  }
  .milk, .sliv, .egg{
   
color: rgb(65, 65, 65);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
  }
  .milk, .sliv{
    margin-bottom: 30px;
  }
  .egg{
    margin-bottom: 50px;
  }
  /* Genel stil */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    /* margin: 10px; */
  }
  
  /* Giriş stil */
  .toggle-switch .toggle-input {
    display: none;
  }
  
  /* Anahtarın stilinin etrafındaki etiketin stil */
  .toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #2196F3;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Anahtarın yuvarlak kısmının stil */
  .toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  /* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
  .toggle-switch .toggle-input:checked + .toggle-label {
    background-color: #4CAF50;
  }
  
  .toggle-switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
  }
  
  /* Light tema */
  .toggle-switch.light .toggle-label {
    background-color: #BEBEBE;
  }
  
  .toggle-switch.light .toggle-input:checked + .toggle-label {
    background-color: #9B9B9B;
  }
  
  .toggle-switch.light .toggle-input:checked + .toggle-label::before {
    transform: translateX(6px);
  }
  
  /* Dark tema */
  .toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
  }
  
  .toggle-switch.dark .toggle-input:checked + .toggle-label {
    background-color: #717171;
  }
  
  .toggle-switch.dark .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
  }
.innal{
    width: 272px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
  .inn{
color: rgb(65, 65, 65);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
  }
  .btn-pri button{
color: rgb(255, 255, 255);
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
border-radius: 4px;
background: rgb(255, 102, 51);
outline: none;
padding: 8px;
border: none;
width: 272px;
  }
 .aside .container{
    display: flex;
    gap: 30px;
  }
  .cards_row{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width:800px) {
    .container{
      max-width: 800px;
    }
    aside{
      display: none;
    }
    .both{
      gap: 0px;
    }
  }
  @media (max-width:520px) {
    .container{
      max-width: 520px;
    }
    .cards_row{
    
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    } 
  }
  @media (max-width:400px) {
    .container{
      max-width: 400px;
    }
    .cards_row{
    
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
    } 
  }