@import url("global.css");
/* global css */

/* --------------------------- */
@import url("navbar.css");
@import url("free.css");
@import url("new.css");
@import url("special.css");
@import url("locate.css");
@import url("lastshop.css");
@import url("aksiya.css");
@import url("card.css");
@import url("footer.css");
@import url("pagination.css");
@import url("about_us.css");
/* ---------------------------- */
@import url("favorite.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html{
    background: var(--Main-BGPage, #FBF8EC);

}

body{
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1208px;
    margin: auto ;
}