.vacancy{
    margin-top: 40px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
}

.number img{
    max-width: 25px;
}
.number{
    display: flex;
}
.card{
    /* max-width: 380px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

@media(max-width: 740px){
    .vacancy{
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }
}

@media(max-width: 540px){
    .vacancy{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 4%;
    }
}